<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr />

<div class="animated fadeIn">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere obcaecati atque hic illum accusantium placeat quod inventore quas nemo, libero expedita voluptatum amet eius unde culpa nam nobis debitis omnis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda impedit illo porro. Dolor, natus dolores, quisquam minima ducimus, quaerat omnis vero fugiat praesentium voluptatibus porro. Ullam exercitationem culpa facere suscipit.
    </p>
</div>